
    .paragraph, .cover_full, .cut_image, #introduction, .cut, .content > * {
        display                 : none;
    }
    :target, .show, :target + .cut_image, :target + .cut, .content > header, .content > h1, #introduction:target {
        background              : inherit;
        display                 : block;
    }
    .paragraph {
        font-size: 1.1em;
    }
    .paragraph b.item {
        display: inline-block;
        background: rgba(0,0,0,0.08);
        padding: 0em 0.25em;
        border-radius: 0.25em;
    }

    .introduction {
        background              : inherit;
        display                 : block;
    }
    :target ~ .introduction {
        display                 : none;
    }

    .checkboxes.playable {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5px;
    }

    .checkboxes.playable input:checked + .box {
        background: #666;
    }